body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

header {
  position: relative;
  display: flex;
  height: 75px;
  align-items: center;
  background-color: #292F36;
  color: #FFFFFF; }

.menu-button {
  border: none;
  margin: 10px 10px;
  font-size: 2rem;
  background: none;
  color: #FFFFFF; }
  .menu-button:hover {
    color: #4ECDC4; }

.header-dropdown {
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 75px;
  background-color: #FF6B6B; }

.dropdown-row {
  margin: 15px 30px;
  font-size: 1.5rem; }
  .dropdown-row:hover {
    text-decoration: underline;
    cursor: pointer; }

.site-title {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold; }
