@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 12pt; }

header {
  position: relative;
  display: flex;
  height: 75px;
  align-items: center;
  background-color: #292F36;
  color: #FFFFFF;
  opacity: 0.85; }

.menu-button {
  border: none;
  margin: 0 10px;
  font-size: 2rem;
  background: none;
  color: #FFFFFF;
  transition: color 0.05s ease-in-out; }
  .menu-button:hover {
    color: #4ECDC4; }

.site-title {
  margin: 0 40px;
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  color: #FFFFFF;
  text-decoration: none; }
  .site-title:hover {
    color: #FFFFFF;
    cursor: pointer; }

.header-dropdown {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 75px;
  background-color: #FF6B6B;
  z-index: 1; }

.dropdown-row {
  padding: 10px 30px;
  font-size: 1.3rem;
  white-space: nowrap; }
  .dropdown-row:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); }
  .dropdown-row a {
    color: #FFFFFF;
    text-decoration: none; }

.socials-wrapper {
  display: flex;
  font-size: 1.1rem;
  gap: 20px;
  padding: 0 20px; }
  .socials-wrapper i:hover {
    color: #4ECDC4;
    cursor: pointer; }

.site-title {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold; }

/* MAIN CONTENT LANDING PAGE */
.main-content {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

.grid-container {
  padding: 10px; }

.grid-products {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr); }
  .grid-products a {
    text-decoration: none;
    color: black; }

.grid-container-header {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-container h2 {
  color: black;
  margin-bottom: 20px; }

.product-card {
  margin-bottom: 40px; }

.product-card img {
  height: auto;
  max-width: 100%;
  display: block; }

figure {
  padding: 0;
  margin: 0;
  border-radius: 0 0 5px 5px;
  transition: background-color 0.1s linear; }
  figure:hover {
    background-color: #FF6B6B;
    color: #FFFFFF; }
  figure figcaption {
    padding-bottom: 10px; }

h4,
h5 {
  margin: 2px;
  font-weight: 300; }

h4 {
  font-size: 0.8rem; }

h5 {
  margin: 7px 0px 5px;
  font-weight: 100;
  font-size: 0.7rem; }

.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url("../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .hero .hero-text {
    text-align: center;
    color: #fff;
    padding: 160px 0px 30px; }

.hero h2 {
  font-size: 1.5rem; }

.btn {
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.7rem;
  color: black;
  width: 115px;
  height: 30px;
  margin-top: 5px;
  background-color: #FF6B6B; }
  .btn:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-2px);
    transition: transform 0.4s; }

/* CHECKOUT PAGE */
.checkout-header {
  text-align: left; }

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px; }

.order-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  color: black; }

.order-container a {
  text-decoration: none;
  color: black; }

.order-container .product-card {
  margin: 5px; }

.total {
  font-weight: 700; }

.shoppingcart {
  padding-right: 10px;
  text-align: right; }

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #292F36; }

::-webkit-scrollbar-thumb {
  background: #399993;
  opacity: 0.5; }

/* THANK YOU PAGE */
.tack-sidan {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 90px 10px; }
  .tack-sidan .tack {
    display: flex;
    justify-content: center; }
    .tack-sidan .tack .tack-köp {
      color: #4ecdc4;
      font-weight: bolder;
      font-size: 30px; }

.party {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .party .fa-solid.fa-party-horn {
    font-size: 30px;
    color: #4ecdc4; }

.far.fa-thumbs-up {
  font-size: 50px;
  color: #4ecdc4; }

.genomfört-köp {
  display: flex;
  justify-content: center;
  padding: 10px; }

h4 {
  color: black;
  font-size: 1em; }

.order {
  padding-top: 50px;
  padding: 15px; }
  .order .text {
    color: black; }
  .order .text-fet {
    color: rgba(0, 0, 0, 0.406);
    font-weight: 900;
    font-size: 18px; }
  .order .order-border {
    border-top: 2px solid #292F36; }

.stäng-knapp {
  display: flex;
  justify-content: center;
  align-items: center; }
  .stäng-knapp .btn {
    padding: 15px;
    width: 100px;
    height: 50px;
    border-radius: 100px; }
  .stäng-knapp a {
    text-decoration: none;
    color: black; }

/* FOOTER */
.footer-p {
  padding-top: 10px; }

.följ-oss {
  display: grid;
  justify-content: center; }
  .följ-oss h4 {
    font-size: 20px; }

.social-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 25px;
  font-size: 30px; }

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .grid-products {
    grid-template-columns: repeat(3, 1fr); } }

@media only screen and (min-width: 1024px) {
  header {
    width: 100%;
    position: fixed; }
  .menu-button {
    display: none; }
  .header-dropdown {
    visibility: visible;
    flex-direction: row;
    justify-content: center; }
  .grid-container {
    padding: 50px 80px;
    width: 80%;
    align-self: center; }
  .checkout-container {
    padding-top: 170px;
    width: 80%;
    margin: 0 auto; }
  .order-container {
    grid-column-gap: 30px; }
  .grid-products {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    padding-bottom: 25px; }
    .grid-products h4 {
      font-size: 1rem; }
  .order-container .product-card {
    padding: 0; }
  .product-card {
    padding: 5px 5px; }
  .hero {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .hero .hero-text h2,
    .hero .hero-text p {
      margin: 15px; }
  .hero-text h2 {
    font-size: 3.3rem; }
    .hero-text h2 .hero-text p {
      font-size: 1.2rem; }
  .hero-text {
    padding-top: 200px; }
  .btn {
    font-size: 1.1rem;
    border-radius: 100px;
    border: none;
    padding: 10px;
    width: 160px;
    height: 50px;
    margin-top: 20px; }
  .tack-sidan {
    padding-top: 200px; }
  footer#contact {
    padding-top: 10px; }
  .stäng-knapp .btn {
    padding: 15px;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    font-size: 1rem; } }
