@import 'mixins';
@import 'variables';

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    position:relative;
    display: flex;
    height: 75px;
    align-items: center;
    background-color: $color-dark;
    color: $color-light;
    
}
.menu-button {
    border: none;
    margin: 10px 10px;
    font-size: 2rem;
    background: none;
    color: $color-light;
    &:hover {
        color: $color-teal;
    }
    &:active + .menu-button > .header-dropdown {
        visibility: visible;
        opacity: 1;
    }
}
.header-dropdown {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 75px;
    background-color: $color-salmon;
}
.header-row {
    margin: 15px;
}
.site-title {
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
}

